#admin_section > #check_numbers {
    width: 50%;
}

#all_numbers {
    flex-flow: row wrap;
    display: flex
}

#check_numbers .each_number {
    flex: 1 0 25%;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    max-width: 43%
}

#check_numbers .each_number > section {
    margin-right: 5px;
    flex: 1
}

#check_numbers .each_number > section > p {
    margin: 0px
}

#check_numbers .each_number > section > p:last-child {
    margin: 0px;
    font-weight: bold;
    font-size: 120%;
    margin-top: 5px;
}

#check_numbers .each_number button {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 120%;
    box-shadow: 0px 10px 25px #ccc;
}


@media only screen and (min-device-width: 0px) and (max-device-width: 700px) {
        
    #all_numbers {
        display: block;
    }

    #check_numbers .each_number {
        max-width: none
    }

}